.navbar-brand img {
    height: 30px;
    margin-top: -5px;
}

/*
The colors applied to the nav item are due to a bug in chrome that does not
redraw the screen correctly when scrolling. This does not happen in Safari or
Firefox and a change to Chrome introduced the issue. It has to do with 
inheritance.
*/
.navbar.navbar-transparent .navbar-brand,
.navbar.navbar-transparent .navbar-nav .nav-item .nav-link
{
    color: rgb(85, 85, 85);
}

@media (min-width: 992px) {
    .navbar.navbar-transparent .navbar-brand,
    .navbar.navbar-transparent .navbar-nav .nav-item .nav-link
    {
        color: #ffffff;
    }
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-item .nav-link {
    color: rgb(85, 85, 85);
}

.nav-item img {
    max-height: .8125rem;
    padding-right: 10px;
}

.demo-video {
    margin-top: 20px;
    display: none;
}

@media (min-width: 768px) {
    .demo-video {
      display: block;
    }
  }