.navbar{
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 10px 20px rgba(50,65,141,.1);
}

.btn-hypper {
    color: #fff;
    background-color: #d23306;
    border-color: #d23306;
}

.hero#home{
    padding-bottom: 0;  /* No need to have padding between home and sections */
}
