<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href=" {{ .Site.BaseURL | relURL }}">
          <img  src="images/logo-{{ .Site.Title }}.svg" alt="{{ .Site.Title }}">
          {{.Site.Title }} </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          {{ range .Site.Menus.main }}
          <li class="nav-item">
            <a class="nav-link"
               href="{{ .URL }}"
               {{ if $.IsHome }}data-target="{{ .URL }}"{{ end }} 
               title = "{{ .Name }}">{{ .Pre }} {{ .Name }}</a>
          </li>
          {{ end }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">More From SUSE</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="https://harvesterhci.io/"><img src="/images/icon-harvester.svg"> Harvester</a>
              <a class="dropdown-item" href="https://epinio.io/"><img src="/images/icon-epinio.svg"> Epinio</a>
              <a class="dropdown-item" href="https://opni.io/"><img src="/images/icon-opni.svg"> Opni</a>
              <a class="dropdown-item" href="https://www.kubewarden.io/"><img src="/images/icon-kubewarden.svg"> Kubewarden</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://opensource.suse.com/">More Projects...</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>