name: Deploy to GitHub Pages

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: package.json
      - name: Set Custom Domain Environment Variable
        run: |
          # Extract custom domain from your repository settings
          CUSTOM_DOMAIN=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
            "https://api.github.com/repos/${{ github.repository }}/pages" | jq -r '.cname')
          if [ -n "$CUSTOM_DOMAIN" ] && [ "$CUSTOM_DOMAIN" != "null" ]; then
            echo "NEXT_PUBLIC_CUSTOM_DOMAIN=$CUSTOM_DOMAIN" >> $GITHUB_ENV
          fi
      - name: Install packages
        run: npm ci
      - name: Build project
        run: npm run build
      - name: Export static files
        run: npm run export
      - name: Add .nojekyll file
        run: touch ./out/.nojekyll
      - name: Create CNAME File
        run: |
          # Check if NEXT_PUBLIC_CUSTOM_DOMAIN environment variable is set
          if [[ -n $NEXT_PUBLIC_CUSTOM_DOMAIN ]]; then
            echo "$NEXT_PUBLIC_CUSTOM_DOMAIN" > ./out/CNAME
          fi
      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: ./out
  deploy:
    # Do not deploy in the official repo unless this is being pushed to main.
    if: ${{ github.repository != 'rancher-sandbox/rancherdesktop.io' || (github.event_name == 'push' && github.ref == 'refs/heads/main') }}
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
